#window {
    font-family: "Fira Mono", monospace;
    background-color: #222222;
    border: 1px solid #333333;
    border-radius: 0;
    color: #d3d7cf;
}

#input {
    background-color: #333333;
    border: 1px solid #222222;
    border-radius: 0;
    color: #eeeeec;
}

#input:focused {
    border-color: #3465a4;
}

.entry {
    padding-left: 4px;
    padding-right: 4px;
}

.entry:selected {
    background-color: #3465a4;
    border: 1px solid #48b9c7;
}

list {
    background-color: #222222;
}

list .entry {
    padding-left: 24px;
}
