[submodule "vim/pack/lang/start/coc.nvim"]
	path = vim/pack/lang/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "vim/pack/lang/start/julia-vim"]
	path = vim/pack/lang/start/julia-vim
	url = https://github.com/JuliaEditorSupport/julia-vim
[submodule "vim/pack/tpope/start/vim-commentary"]
	path = vim/pack/util/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/util/start/vim-ripgrep"]
	path = vim/pack/util/start/vim-ripgrep
	url = https://github.com/jremmen/vim-ripgrep.git
[submodule "vim/pack/lang/start/vim-javascript"]
	path = vim/pack/lang/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/pack/lang/start/vim-elixir"]
	path = vim/pack/lang/start/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
[submodule "vim/pack/util/start/auto-pairs"]
	path = vim/pack/util/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim/pack/lang/start/typescript-vim"]
	path = vim/pack/lang/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/pack/lang/start/vim-jsx-typescript"]
	path = vim/pack/lang/start/vim-jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript.git
[submodule "vim/pack/lang/start/vim-elm-syntax"]
	path = vim/pack/lang/start/vim-elm-syntax
	url = https://github.com/andys8/vim-elm-syntax.git
