[submodule "vim/pack/lang/start/coc.nvim"]
	path = vim/pack/lang/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "vim/pack/tpope/start/vim-commentary"]
	path = vim/pack/util/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/util/start/vim-ripgrep"]
	path = vim/pack/util/start/vim-ripgrep
	url = https://github.com/jremmen/vim-ripgrep.git
[submodule "vim/pack/util/start/auto-pairs"]
	path = vim/pack/util/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim/pack/util/start/vim-tmux-navigator"]
	path = vim/pack/util/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "tmux/tmux-current-pane-hostname"]
	path = tmux/tmux-current-pane-hostname
	url = https://github.com/soyuka/tmux-current-pane-hostname.git
[submodule "vim/pack/util/start/vim-gitgutter"]
	path = vim/pack/util/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/pack/util/start/vim-snippets"]
	path = vim/pack/util/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/pack/util/start/vim-tmux-focus-events"]
	path = vim/pack/util/start/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events.git
[submodule "vim/pack/util/start/vim-surround"]
	path = vim/pack/util/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/theme/start/gruvbox"]
	path = vim/pack/theme/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
